<p>home works!</p>
<!-- <app-login></app-login> -->

{{mensaje}}

<ul>
    <li *ngFor="let producto of arreglo" >
        <!-- {{producto}} -->
        <b>id:</b> {{producto.id}} {{producto.producto}} {{producto.cantidad}}
    </li>
</ul>
<app-combociudades></app-combociudades>


<h1 style="border: 2px solid red; width:10%"  (click)="irALista()" >Ir A Lista </h1>


Consumo api:
<input type="text" [(ngModel)]="pokemon"/>
<button (click)="traerUno()">Traer pokemon</button>

<mat-card *ngIf="infopokemon">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{infopokemon.name}}</mat-card-title>
      </mat-card-header>
    <mat-card-content >
        
        <p></p>
        <ul>
            <li *ngFor="let mytype of infopokemon.types">
                {{mytype.type.name}}
            </li>
        </ul>

        <img class="imagenPokemon" mat-card-image src="{{infopokemon.sprites.front_default}}" alt="">

    </mat-card-content>
</mat-card>
<hr>
<p></p>
<mat-card>
    <mat-card-header>
        Pdf
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<button (click)="downloadAndOpenPdf()">Download PDF</button>
